.welcome {
    text-align: center;
}
.nav-link {
    color: #FFD93D!important;
    background-color: #4A1266!important;
    border-color: #4A1266!important;
}

.nav-link:focus {
    color: #4A1266!important;
    background-color: #FFD93D!important;
    border-color: #4A1266!important;
}

.nav-link:active {
    color: #4A1266!important;
    background-color: #FFD93D!important;
    border-color: #4A1266!important;
}