<div id="register-component">

    <div class="form-register">
        <h1 class="h3 mb-3 fw-normal">Register a new account!</h1>

        <div id="firstname-container" class="form-floating">
            <input type="firstname" class="form-control" id="register-form-firstname" placeholder="First Name">
            <label for="register-form-firstname">First Name</label>
        </div>

        <div id="lastname-container" class="form-floating">
            <input type="lastname" class="form-control" id="register-form-lastname" placeholder="Last Name">
            <label for="register-form-lastname">Last Name</label>
        </div>

        <div id="email-container" class="form-floating">
            <input type="email" class="form-control" id="register-form-email" placeholder="Email">
            <label for="register-form-email">Email</label>
        </div>

        <div id="username-container" class="form-floating">
            <input type="text" class="form-control" id="register-form-username" placeholder="Username">
            <label for="register-form-username">Username</label>
            <p class="input-limit">*4 or more alphanumeric characters</p>
        </div>

        <div id="password-container" class="form-floating">
            <input type="password" class="form-control" id="register-form-password" placeholder="Password">
            <label for="register-form-password">Password</label>
            <p class="input-limit">*Must be at least 8 characters long</p>
        </div>

 <div id="verify-password-container" class="form-floating">
            <input type="password" class="form-control" id="register-form-verifypassword" placeholder="Verify Password">
            <label for="register-form-verifypassword">Verify Password</label>
        </div>
        
        <br/>
        <button id="register-form-button" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>

    </div>

    <div id="error-msg-container">
        <p hidden id="error-msg" class="alert alert-danger"></p>
    </div>

</div>