<h1 class="welcome">Welcome, <span id="welcome-user"></span></h1>

<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
      <button class="nav-link" id="v-pills-add-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add" type="button" role="tab" aria-controls="v-pills-add" aria-selected="false">Add Course</button>
      <button class="nav-link" id="v-pills-edit-tab" data-bs-toggle="pill" data-bs-target="#v-pills-edit" type="button" role="tab" aria-controls="v-pills-edit" aria-selected="false">Edit Course</button>
      <button class="nav-link" id="v-pills-delete-tab" data-bs-toggle="pill" data-bs-target="#v-pills-delete" type="button" role="tab" aria-controls="v-pills-delete" aria-selected="false">Delete Course</button>
      <button class="nav-link" id="v-pills-view-tab" data-bs-toggle="pill" data-bs-target="#v-pills-view" type="button" role="tab" aria-controls="v-pills-view" aria-selected="false">View Courses</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <img class="mascot-img" src="https://freepngimg.com/thumb/raccoon/3-2-raccoon-picture.png" alt="trash panda">
      </div>

      <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">
        <div class="form-add-course">
          <h1 class="h3 mb-3 fw-normal">Add a new course!</h1>
  
          <div id="abv-container" class="form-floating">
              <input type="text" class="form-control" id="add-form-abv" placeholder="Course Abbreviation">
              <label for="add-form-abv">Course Abbreviation</label>
              <p class="input-limit">*6 characters or less</p>
          </div>
  
          <div id="course-name-container" class="form-floating">
              <input type="course-name" class="form-control" id="add-form-course-name" placeholder="Course Name">
              <label for="add-form-course-name">Course Name</label>
              <p class="input-limit">*30 characters or less</p>
          </div>

          <div id="details-container" class="form-floating">
              <input type="details" class="form-control" id="add-form-details" placeholder="Details">
              <label for="add-form-course-details">Course Details</label>
              <p class="input-limit">*255 characters or less</p>
          </div>

          <div id="open-date-container" class="form-floating">
              <input type="date" class="form-control" id="add-form-open-date" placeholder="Open Date">
              <label for="add-form-open-date">Course Open Date</label>
          </div>

          <br/>
  
          <div id="close-date-container" class="form-floating">
              <input type="date" class="form-control" id="add-form-close-date" placeholder="Close Date">
              <label for="add-form-close-date">Course Close Date</label>
          </div>

          <br/>

          <div id="capacity-container" class="form-floating">
            <input type="number" class="form-control" id="add-form-capacity" placeholder="Capacity">
            <label for="add-form-capacity">Course Capacity</label>
            <p class="input-limit">*12-100</p>
          </div>
          
          <button id="add-course-form-button" class="w-50 btn btn-lg btn-primary" type="submit">Add Course!</button>
          
          <br/>
          <div id="add-error-msg-container">
            <p hidden id="add-error-msg" class="alert alert-danger"></p>
          </div>
          <br/>
          <div id="add-success-msg-container">
            <p hidden id="add-success-msg" class="alert alert-success"></p>
          </div>
  
      </div>
  
      </div>

      <div class="tab-pane fade" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-edit-tab">
        <div class="form-edit-course">

          <h1 class="h3 mb-3 fw-normal">Edit a course!</h1>


          <div id="editing-course-abv-container" class="form-floating">
            <input type="text" class="form-control" id="editing-course-form-abv" placeholder="Abbreviation of Course to Edit">
            <label for="editing-course-form-abv">Course Abbreviation</label>
          </div>

          <br/>

          <div id="edit-abv-container" class="form-floating">
              <input type="text" class="form-control" id="edit-form-abv" placeholder="New Course Abbreviation">
              <label for="edit-form-abv">New Course Abbreviation</label>
              <p class="input-limit">*6 characters or less</p>
          </div>
  
          <div id="edit-course-name-container" class="form-floating">
              <input type="course-name" class="form-control" id="edit-form-course-name" placeholder="New Course Name">
              <label for="edit-form-course-name">New Course Name</label>

              <p class="input-limit">*30 characters or less</p>
          </div>

 
          <div id="edit-details-container" class="form-floating">
              <input type="details" class="form-control" id="edit-form-details" placeholder="New Details">
              <label for="edit-form-course-details">New Course Details</label>
              <p class="input-limit">*255 characters or less</p>
          </div>

  
          <div id="edit-open-date-container" class="form-floating">
              <input type="date" class="form-control" id="edit-form-open-date" placeholder="New Open Date">
              <label for="edit-form-open-date">New Course Open Date</label>
          </div>

          <br/>

          <div id="edit-close-date-container" class="form-floating">
              <input type="date" class="form-control" id="edit-form-close-date" placeholder="New Close Date">
              <label for="edit-form-close-date">New Course Close Date</label>
          </div>


          <br/>

          <div id="edit-capacity-container" class="form-floating">
            <input type="number" class="form-control" id="edit-form-capacity" placeholder="New Capacity">
            <label for="edit-form-capacity">New Course Capacity</label>
            <p class="input-limit">*12-100</p>
          </div>
          
          <button id="edit-course-form-button" class="w-50 btn btn-lg btn-primary" type="submit">Edit Course!</button>

          
          <br/>
          <div id="edit-error-msg-container">
            <p hidden id="edit-error-msg" class="alert alert-danger"></p>
          </div>
          <br/>

          <div id="edit-success-msg-container">
            <p hidden id="edit-success-msg" class="alert alert-success"></p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-delete" role="tabpanel" aria-labelledby="v-pills-delete-tab">
        <div class="form-remove-course">
          <h1 class="h3 mb-3 fw-normal">Remove a Course!</h1>
  
          <div id="remove-abv-container" class="form-floating">
              <input type="text" class="form-control" id="remove-form-abv" placeholder="Course Abbreviation">
              <label for="remove-form-abv">Course Abbreviation</label>
          </div>
          <br/>

          <button id="remove-course-form-button" class="w-50 btn btn-lg btn-primary" type="submit">Remove Course!</button>

          
          <br/>
          <div id="remove-error-msg-container">
            <p hidden id="remove-error-msg" class="alert alert-danger"></p>
          </div>

          <br/>

          <div id="remove-success-msg-container">
            <p hidden id="remove-success-msg" class="alert alert-success"></p>
          </div>
        
        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-view" role="tabpanel" aria-labelledby="v-pills-view-tab">
        <table class="table" id="course-table">
          <thead>
          <th>Course Abv</th>
          <th>Course Name</th>
          <th>Professor</th>
          <th>Details</th>
          <th>Open Date</th>
          <th>Close Date</th>
          <th>Slots</th>
          </thead>
          <tbody id="course-table-body">

          </tbody>
          </table>

      </div>

    </div>
  </div>
